p.border-radius{
    background-color: #00a0dc;
    padding-left: 10px;
    border: 2px solid #fffd47;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}